.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

.env
.env.*

# Ignore data contents, but allow DVC pointer files
data/**
!data/
!data/**/*.dvc
!data/**/.gitkeep


models/
results/
reports/figures/
mlruns/
mlflow.db

*.pt
*.pkl
*.npy
*.parquet
*.csv
*.zip
